.user{
    padding: 10px;
    background: rgb(255, 157, 247);
    text-align: start;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.selected{
    border: 2px solid rgb(14, 101, 25);
    background: rgb(133, 240, 133);
}

.user h3{
    padding: 0;
    margin-bottom: 10px;
}